In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df= pd.read_csv('weather_history.csv')
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [4]:
df.shape

(96453, 12)

In [5]:
#df["Formatted Date"].str[:10].str.split("-").str[11:13].str.split(":").str[0]
# df["Formatted Date"].str[11:13].str.split(":").str[0]

In [6]:
df['Date']= df["Formatted Date"].str[:10]

In [7]:
df.head(3)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Date
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,2006-04-01
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,2006-04-01
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,2006-04-01

In [8]:
df['Summary'].value_counts()

Partly Cloudy                          31733
Mostly Cloudy                          28094
Overcast                               16597
Clear                                  10890
Foggy                                   7148
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Windy and Mostly Cloudy                   35
Breezy and Foggy                          35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Dangerously Windy and Partly Cloudy        1
Windy and Dry                              1
Breezy and Dry                             1
Name: Summary, dtype: int64

In [9]:
df['Summary']= df['Summary'].replace({'Partly Cloudy':'Cloudy', 
                       'Mostly Cloudy':'Cloudy' ,
                       'Overcast': 'Overcast',
                       'Clear': 'Sunny',
                       'Foggy': 'Foggy',
                      'Breezy and Overcast': 'Overcast', 
                       'Breezy and Mostly Cloudy': 'Overcast',
                       'Breezy and Partly Cloudy': 'Cloudy',
                       'Dry and Partly Cloudy': 'Cloudy',                     
                       'Windy and Partly Cloudy': 'Cloudy',                   
                       'Light Rain': 'Rain',                               
                       'Breezy': 'Rain',                                   
                       'Windy and Overcast': 'Overcast',                       
                       'Humid and Mostly Cloudy': 'Cloudy',                  
                       'Drizzle': 'Rain',                                  
                       'Windy and Mostly Cloudy': 'Cloudy',                   
                       'Breezy and Foggy': 'Foggy',                          
                       'Dry': 'Sunny',                                  
                       'Humid and Partly Cloudy': 'Cloudy',             
                       'Dry and Mostly Cloudy': 'Cloudy',               
                       'Rain': 'Rain',                                    
                       'Windy': 'Rain',                                      
                       'Humid and Overcast': 'Overcast',                         
                       'Windy and Foggy': 'Foggy',                            
                       'Breezy and Dry': 'Rain',                     
                       'Windy and Dry': 'Rain', 
                        'Dangerously Windy and Partly Cloudy': 'Cloudy'})

In [10]:
df['Summary'].value_counts()

Cloudy      60473
Overcast    17693
Sunny       10924
Foggy        7187
Rain          176
Name: Summary, dtype: int64

In [11]:
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [12]:
df['Precip Type'].unique()

array(['rain', 'snow', nan], dtype=object)

In [13]:
df['Apparent Temperature (C)'].unique()

array([ 7.38888889,  7.22777778,  9.37777778, ..., 12.14444444,
        9.73888889,  9.23333333])

#### There is only one unique value so no need of Loud Cover

In [14]:
df['Loud Cover'].unique()

array([0.])

In [15]:
df.drop(['Loud Cover'], axis=1, inplace=True)

In [16]:
df.isnull().sum()

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Pressure (millibars)          0
Daily Summary                 0
Date                          0
dtype: int64

In [17]:
df.drop(['Formatted Date'], axis=1, inplace=True)

In [18]:
df.head(2)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Date
0,Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.,2006-04-01
1,Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.,2006-04-01

In [20]:
df['Precip Type'].fillna(method='ffill', inplace=True)

In [21]:
df.isnull().sum()

Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Pressure (millibars)        0
Daily Summary               0
Date                        0
dtype: int64

In [26]:
# As the correlation between Temperature (C) and Apparent Temperature (C) is almost 1 so we are dropping Apparent Temperature (C)
df.drop(['Apparent Temperature (C)'],axis= 1, inplace=True)

In [22]:
from sklearn.preprocessing import MinMaxScaler
mm= MinMaxScaler()

In [23]:
df['Temperature (C)'] = mm.fit_transform(pd.DataFrame(df['Temperature (C)']))
df['Humidity'] = mm.fit_transform(pd.DataFrame(df['Humidity']))
df['Wind Speed (km/h)'] = mm.fit_transform(pd.DataFrame(df['Wind Speed (km/h)']))
df['Wind Bearing (degrees)'] = mm.fit_transform(pd.DataFrame(df['Wind Bearing (degrees)']))
df['Visibility (km)'] = mm.fit_transform(pd.DataFrame(df['Visibility (km)']))
df['Pressure (millibars)'] = mm.fit_transform(pd.DataFrame(df['Pressure (millibars)']))

In [24]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [25]:
df['Summary'] = le.fit_transform(pd.DataFrame(df['Summary']))
df['Precip Type'] = le.fit_transform(pd.DataFrame(df['Precip Type']))
df['Daily Summary'] = le.fit_transform(pd.DataFrame(df['Daily Summary']))

C:\Program Files\Python36\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [27]:
df.head(2)

,Summary,Precip Type,Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Date
0,0,0,0.506975,0.89,0.221130,0.699164,0.983,0.970135,197,2006-04-01
1,0,0,0.505085,0.86,0.223399,0.721448,0.983,0.970613,197,2006-04-01

In [38]:
Dates = df.iloc[:,9:].values
temp_data = df.iloc[:,2:3].values #temperature column only
temp_data
print(type(Dates))

<class 'numpy.ndarray'>

In [39]:
from scipy.ndimage import gaussian_filter1d
from scipy.signal import medfilt

In [40]:
filter_active = 0
if filter_active == True:
    temp_data = medfilt(temp_data, 3)
    temp_data = gaussian_filter1d(temp_data, 1.2)

In [41]:
x_train = []
y_train = []
n_future = 10
n_past = 30

for i in range(0,len(temp_data)-n_past-n_future+1):
    x_train.append(temp_data[i : i + n_past , 0])     
    y_train.append(temp_data[i + n_past : i + n_past + n_future , 0 ])

x_train , y_train = np.array(x_train), np.array(y_train)
x_train = np.reshape(x_train, (x_train.shape[0] , x_train.shape[1], 1) )

In [42]:
from keras.models import Sequential
from keras.layers import Dense, LSTM, Bidirectional, Dropout

In [43]:
model = Sequential()
model.add(Bidirectional(LSTM(units=10, 
                             activation= "relu", 
                             return_sequences=True, 
                             input_shape = (x_train.shape[1], 1))))
model.add(LSTM(units= 10, return_sequences=True))
model.add(LSTM(units= 10, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units= 10))
model.add(Dense(units = n_future , activation="relu"))

In [44]:
model.compile(optimizer='adam', 
              loss = 'CategoricalCrossentropy', 
              metrics='accuracy')

In [46]:
history = model.fit(x_train, 
          y_train, 
          epochs=20,           
          verbose=1,)

Epoch 1/20
3013/3013 [==============================] - 81s 27ms/step - loss: 19.6235 - accuracy: 0.2771
Epoch 2/20
3013/3013 [==============================] - 81s 27ms/step - loss: 19.6195 - accuracy: 0.4001
Epoch 3/20
3013/3013 [==============================] - 82s 27ms/step - loss: 19.6187 - accuracy: 0.4383
Epoch 4/20
3013/3013 [==============================] - 82s 27ms/step - loss: 19.6181 - accuracy: 0.4659
Epoch 5/20
3013/3013 [==============================] - 82s 27ms/step - loss: 19.6178 - accuracy: 0.4743
Epoch 6/20
3013/3013 [==============================] - 81s 27ms/step - loss: 19.6176 - accuracy: 0.4824
Epoch 7/20
3013/3013 [==============================] - 80s 27ms/step - loss: 19.6175 - accuracy: 0.4864
Epoch 8/20
3013/3013 [==============================] - 79s 26ms/step - loss: 19.6174 - accuracy: 0.4911
Epoch 9/20
3013/3013 [==============================] - 82s 27ms/step - loss: 19.6173 - accuracy: 0.4948
Epoch 10/20
3013/3013 [==============================] - 83s 27ms/step - loss: 19.6172 - accuracy: 0.5004
Epoch 11/20
3013/3013 [==============================] - 92s 31ms/step - loss: 19.6172 - accuracy: 0.5024
Epoch 12/20
3013/3013 [==============================] - 110s 37ms/step - loss: 19.6171 - accuracy: 0.5033
Epoch 13/20
3013/3013 [==============================] - 108s 36ms/step - loss: 19.6170 - accuracy: 0.5061
Epoch 14/20
3013/3013 [==============================] - 88s 29ms/step - loss: 19.6170 - accuracy: 0.5082
Epoch 15/20
3013/3013 [==============================] - 84s 28ms/step - loss: 19.6169 - accuracy: 0.5102
Epoch 16/20
3013/3013 [==============================] - 93s 31ms/step - loss: 19.6169 - accuracy: 0.5124
Epoch 17/20
3013/3013 [==============================] - 88s 29ms/step - loss: 19.6168 - accuracy: 0.5156
Epoch 18/20
3013/3013 [==============================] - 87s 29ms/step - loss: 19.6167 - accuracy: 0.5177
Epoch 19/20
3013/3013 [==============================] - 85s 28ms/step - loss: 19.6167 - accuracy: 0.5201
Epoch 20/20
3013/3013 [==============================] - 86s 28ms/step - loss: 19.6166 - accuracy: 0.5219 0s - loss: 19.6144 - accur